<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="admin.html"/>
  <head>
    <title>Gitolite Repositories</title>
  </head>

  <body>
    <h2>Manage Gitolite Repositories</h2>

    <form enctype="multipart/form-data" class="addnew" method="post" action="">
      <fieldset>
	<legend>Create New Repository:</legend>
	<div class="field">
	  <label>Name:
	    <input type="text" name="name" />
	  </label>
	</div>
	<div class="buttons">
	  <input type="submit" name="add_repo" value="Add" />
	</div>
      </fieldset>
    </form>

    <form method="post" action="">

    <table class="listing">
      <thead>
	<tr>
	  <th class="sel">&nbsp;</th>
	  <th>Name</th>
	</tr>
      </thead>
      <tbody>
	<tr py:for="repo in repos">
	  <td class="sel">
	  </td>
	  <td>
	    $repo
	  </td>
	</tr>
      </tbody>
    </table>

    <div class="buttons">
    </div>

    </form>
  </body>

</html>
